@import "colors";
.credit{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: $main;
    flex-basis: 30%;
    margin: 100px 0;
    border-radius: 20px;
    padding: 10px 5px;
    border: solid 3px $blue;
    box-shadow: rgba(0, 0, 0, 1.18) 0px 5px 4px 0px;

    > header{
        flex-basis: 100%;
        text-align: center;
        color: $blue;
        padding: 10px;
    }


    .balance{
        flex-basis: 100%;
        margin: 20px 0;
        text-align: center;
        font-size: 2em;
        color: $blue;
        border-bottom: dashed 3px $dark;
        padding-bottom: 15px;
    }
    p{
        flex-basis: 90%;
        color: #111;
        font-size: 1.2em;
    }
    button{
        flex-basis: 100%;
        background: $dark;
        padding: 10px;
        color: #000;
        font-size: 1.2em;
        cursor: pointer;
        text-align: center;
        border-radius: 20px;
        margin: 15px 0;
        border: solid 2px #000;

        &:hover{
            color: #fff;
            border: solid 2px #fff;
        }
        
    }
}

.silver{
    border: solid 3px silver;
    color:silver;

    > header{
        color: silver;
    }

    .balance{
        color: silver;
    }

    button{
        border: solid 2px silver;
        color: silver;
    }

    button:hover{
        background: silver;
        color: $dark;
        border: solid 2px $dark;
    }
}

.gold{
    border: solid 3px gold;
    color:gold;

    > header{
        color: gold;
    }

    .balance{
        color: gold;
    }

    button{
        border: solid 2px gold;
        color: gold;
    }
    
    button:hover{
        background: gold;
        color: $dark;
        border: solid 2px $dark;
    }
}

.platinum{
    border: solid 3px paleturquoise;
    color:paleturquoise;

    > header{
        color: paleturquoise;
    }

    .balance{
        color: paleturquoise;
    }

    button{
        border: solid 2px paleturquoise;
        color: paleturquoise;
    }
    
    button:hover{
        background: paleturquoise;
        color: $dark;
        border: solid 2px $dark;
    }
}

@media(max-width: 960px){
    .credit{
        flex-basis: 47%;
        margin-bottom: 20px;
        button{
            margin-top: 10px;
        }
    }
}

@media(max-width: 740px){
    .credit{
        flex-basis: 60%;
        margin-bottom: 20px;
        button{
            margin-top: 10px;
        }
    }
}

@media(max-width: 550px){
    .credit{
        flex-basis: 90%;
        margin-bottom: 20px;
    }
}