@import "colors";
.mainFooter{
    display: flex;
    flex-basis: 100%;
    flex-wrap: wrap;
    background: $main;
    align-items: center;
    padding: 10px 0px;
    font-size: 2.6em;
    font-weight: 700;

    p{
        color: $blue;
        margin: 0 auto;
    }
}