@import "colors";
.insertBalance{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    margin: 50px 0px;
    color: $blue;
    justify-content: center;
    background: $main;
    border: solid 1px $blue;
    border-radius: 20px;

    header{
        flex-basis: 100%;
        text-align: center;
        padding: 20px;
        border-bottom: dashed 3px $dark;
    }

    .insertBalanceContent{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        flex-basis: 100%;
        border-radius: 20px;
        overflow: hidden;

        .balance{
            padding: 50px 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            flex-basis: 100%;
            align-items: center;

            input{
                border: solid 3px $blue;
                background: $dark;
                font-size: 1.5em;
                border-radius: 20px;
                padding: 10px;
                color: $blue;
                flex-basis: 85%;
            }
            input:invalid{
                border-color: red;
            }
        }

        .insertButton{
            flex-basis: 50%;
            background: $blue;
            padding: 10px;
            color: $dark;
            font-size: 1.2em;
            cursor: pointer;
            text-align: center;
            border-radius: 20px;
            margin: 15px 0;
            border: solid 2px $dark;

            &:hover{
                color: #fff;
                border: solid 2px #fff;
            }
        }

    }
}