@import "colors";
.main{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background: $dark;

    .mainHeader{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 80%;
        margin: 10px auto;
        justify-content: space-between;
    }

    .mainServices{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 80%;
        margin: 20px auto;
        justify-content: space-between;
    }

    .mainPlans{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 80%;
        margin: 10px auto;
        justify-content: space-between;
    }

    .mainProductsBox{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 80%;
        margin: 20px auto;
        margin-bottom: 70px;
        justify-content: space-between;
    }

    @media (max-width: 646px){
        .mainServices{
            flex-basis: 90%;
        }
        .mainHeader{
            flex-basis: 90%;
        }
    }
}

