@import "colors";
.article{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 70%;
    margin: 80px 0;
    background: $main;
    padding: 20px 10px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 1.18) 0px 5px 4px 0px;

    >header{
        display: flex;
        flex-wrap: wrap;
        flex-basis: 28%;
        justify-content: center;
        border-right: dashed 3px $dark;

        .imgContainer{
            flex-basis: 70%;

            >img{
                width: 100%;
                border-radius: 20px;
            }
        }
        h1{
            flex-basis: 100%;
            color: $blue;
            text-align: center;
            font-size: 1.7em;
        }
    }

    .articleInfo{
        flex-basis: 29%;
        display: flex;
        flex-wrap: wrap;
        border-right: dashed 3px $dark;

        h2{
            color: $blue;
            margin-left: 10px;
        }

        p{
            color: $blue;
            font-size: 1.2em;
            flex-basis: 100%;
            margin-left: 10px;

            .info{
                color: #fff;
            }
        }
    }
    .articleInsert{
        flex-basis: 15%;
        display: flex;
        flex-wrap: wrap;

        h2{
            color: $blue;
            flex-basis: 100%;
        }

        .insert{
            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            input{
                flex-basis: 80%;
                font-size: 1.2em;
                background: $dark;
                border: solid 1px $blue;
                border-radius: 20px;
                margin-bottom: 10px;
                color: $blue;
                padding: 0 10px;
            }
            button{
                flex-basis: 90%;
                border-radius: 20px;
                background: $blue;
                border: solid 2px $dark;
                font-size: 1.2em;
                cursor: pointer;
            }
            button:hover{
                color: #fff;
                border: solid 2px #fff;
            }
        }
    }

    

    @media (max-width: 1097px){
        >header{
            flex-basis: 49%;
        }
        .articleInfo{
            flex-basis: 49%;
            border: none;
        }
        .articleInsert{
            flex-basis: 90%;
            border-top: dashed 3px $dark;
            margin-top: 10px;
            padding-top: 10px;

            h2{
                text-align: center;
                margin-bottom: 10px;
            }

            .insert{
                > input{
                    padding: 10px;
                    flex-basis: 80%;
                }
                button{
                    flex-basis: 80%;
                    padding: 10px;
                }
            }
        }
    }

    @media (max-width: 580px){
        >header{
            flex-basis: 100%;
            border-right: none;
            border-bottom: dashed 3px $dark;
            padding-bottom: 10px;

            .imgContainer{
                flex-basis: 80%;
            }
        }
        .articleInfo{
            flex-basis: 80%;
            border: none;
            padding: 10px 0;

            h2{
                flex-basis: 100%;
                text-align: center;
                margin-bottom: 10px;
            }
        }
    }
}

.status{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;

    p{
        color: red;
        text-align: center;
        font-size: 1.5em;
        border: solid 3px red;
        padding: 10px 15px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
}

.statusCorrect{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;

    p{
        color: green;
        text-align: center;
        font-size: 1.5em;
        border: solid 3px green;
        padding: 10px 15px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
}