@import "colors";
.mainPix{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 31%;
    background: $main;
    padding: 20px;
    border-radius: 20px;
    border: solid 1px $blue;
    color: $blue;
    margin-bottom: 10px;
}

@media (max-width: 967px){
    .mainPix{
        flex-basis: 49%;
    }
}

@media (max-width: 646px){
    .mainPix{
        font-size: 0.710em;
    }
}