@import "colors";
.mainService{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 31%;
    background: $main;
    padding: 20px;
    border-radius: 20px;
    border: solid 1px $blue;
    color: $blue;
    margin-bottom: 10px;
}

.mainService:hover{
    border-color: #fff;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 967px){
    .mainService{
        flex-basis: 49%;
    }
}

@media (max-width: 646px){
    .mainService{
        font-size: 0.710em;
    }
}